testQuestions/obj/Debug/netcoreapp2.0/testQuestions.AssemblyInfoInputs.cache
testQuestions/obj/Debug/netcoreapp2.0/testQuestions.csproj.CoreCompileInputs.cache
testQuestions/obj/testQuestions.csproj.nuget.cache
testQuestions/bin